*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

header
{
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    min-height: 50px;
    width: 100vw;
}

main
{
    text-align: center;
    min-height: calc(100vh - 6vh - 50px);
    width: 100vw;
    background-color:#66004b;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer
{
    margin: 0px;
    padding: 0px;
    background-color:#000;
    width: 100vw;
    height:6vh ;
}

.clock
{   
    flex: 1 0 380px;
    min-width:380px;
    max-height: 380px;
    max-width:380px;
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

canvas
{
    width: 90%;
    height: 90%;
    border:1px solid #81D4FA;
    border-radius: 50%;
    border-width: 7px;
}

.hr , .min ,.sec
{
    position:absolute;
    background-color: #000;
    border-radius: 35%;
    transform-origin: bottom;
}

.hr
{
    height: 80px;
    width: 10px;
    top:30%;
}

.min
{
    top: 20%;
    height: 120px;
    width: 7px;
    
}

.sec
{
    top: 12%;
    height: 150px;
    width: 4px;
    background-color:#81D4FA;
}